<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>🎥 HLS Stream Generator by Nnisarg Gada</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet" />
  <meta name="description" content="A simple web app that generates HLS streams from a video file" />
  <meta name="author" content="Nnisarg Gada" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://hls.nnisarg.in/" />
  <meta property="og:title" content="HLS Stream Generator by Nnisarg Gada" />
  <meta property="og:description" content="A simple web app that generates HLS streams from a video file" />
  <meta property="og:site_name" content="HLS Stream Generator by Nnisarg Gada" />
  <meta property="og:locale" content="en_US" />
  <link rel="canonical" href="https://hls.nnisarg.in" />
  <style>
    body {
      font-family: "Poppins", sans-serif;
    }

    .input_container {
      border: 1px solid #e5e5e5;
      border-radius: 5px;
      padding: 5px;
    }

    input[type="file"]::file-selector-button {
      background-color: #fff;
      color: #000;
      border: 0px;
      border-right: 1px solid #e5e5e5;
      padding: 10px 15px;
      margin-right: 20px;
      transition: 0.5s;
    }

    input[type="file"]::file-selector-button:hover {
      background-color: #eee;
      cursor: pointer;
    }
  </style>
</head>

<body class="bg-neutral-900 text-white">
  <nav class="w-full h-20 bg-neutral-950 p-4">
    <div class="w-full h-full max-w-3xl mx-auto flex justify-between items-center">
      <a href="/" title="Home" class="text-3xl font-bold">🎥 EzHLS</a>
      <a href="https://github.com/hect1k/ezhls" target="_blank" title="GitHub Repository" class="text-3xl">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512" height="1em" fill="currentColor">
          <path
            d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3 .3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5 .3-6.2 2.3zm44.2-1.7c-2.9 .7-4.9 2.6-4.6 4.9 .3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8z" />
        </svg>
      </a>
    </div>
  </nav>

  <main class="w-full max-w-md mx-auto min-h-[calc(100vh-9rem)] flex flex-col justify-center items-center p-4 gap-6">
    <h1 class="text-3xl font-bold">HLS Stream Generator</h1>
    <form method="POST" action="/upload" enctype="multipart/form-data" class="w-full flex flex-col gap-4">
      <div class="input_container">
        <input type="file" name="video" accept="video/*" required />
      </div>

      <label for="resolution" class="text-sm text-gray-400">Select Resolution:</label>
      <select name="resolution" id="resolution" class="p-2 bg-neutral-800 text-white rounded">
        <option value="360p">360p</option>
        <option value="480p">480p</option>
        <option value="720p" selected>720p</option>
        <option value="1080p">1080p</option>
      </select>

      <button class="bg-rose-500 hover:bg-rose-700 text-white font-bold py-2 px-4 rounded" type="submit">
        Generate HLS Stream
      </button>
    </form>
    <a href="/docs" title="Documentation" class="text-rose-500 place-self-start italic underline">How to use the API</a>
  </main>
  <footer class="w-full h-16 bg-neutral-950 grid place-items-center p-4">
    <p class="">
      Made with <span class="text-rose-500">❤️ </span> by
      <a href="https://nnisarg.in/" target="_blank" rel="noopener noreferrer" title="nnisarg.in"
        class="underline underline-offset-4 text-rose-400">Nnisarg Gada</a>
    </p>
  </footer>

  <script>
    const form = document.querySelector('form');
    const submitButton = document.querySelector('button[type="submit"]');
    const input = document.querySelector('input[type="file"]');

    if (form && submitButton && input) {
      submitButton.addEventListener('click', (e) => {
        if (!input.value) {
          e.preventDefault();
          input.click();
        }
        else {
          submitButton.innerText = 'Generating...';
          submitButton.disabled = true;
          submitButton.classList = "bg-neutral-500 cursor-not-allowed text-white font-bold py-2 px-4 rounded"
          form.submit();
        }
      });
    }
  </script>
</body>

</html>
